<div class="card w-100 mb-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"> <a href="/api/posts/{{post.id}}"></a></h5>
        <h6 class="card-subtitle mb-2 text-muted">Posted By: {{user.username}}  on {{format_date post.dateCreated}}</h6>
    <p class="card-text">{{post.post_body}}</p>
  </div>
  <div>
    <div><h6 class="card-subtitle mb-2 text-muted">Comment By: {{comment.user.username}}  on {{format_date post.dateCreated}}</h6>
    <p>{{comment.comment_body}}</p>
    </div>
    {{/each}}
  </div>
  </div>
    {{/each}}